
a {
	text-decoration: none;
	color: inherit;
}


.App {
	height: 100vh;
}

.login-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 50px;
}

.login-form > .MuiFormControl-root {
	width: 500px;
}

.vehicle {
    width: 200px;
}
